


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hanken Grotesk', Helvetica, Arial, sans-serif;
}

input[type=text],
input[type=password],
textarea {
    border : 1px solid #999;
    border-radius: 5px;
}

.animate-prompt {
    animation: 5s animate-prompt linear both !important;
    overflow: hidden;
}

@keyframes animate-prompt {
    0% {
        opacity : 0;
    }
    10% {
        opacity : 1;
    }
    80% {
        opacity : 1;
    }
    90% {
        opacity: 0;
        max-height : 200px;
        padding : 1rem 2rem;
    }
    99% {
        opacity: 0;
        max-height : 0px;
        padding-block : 0;
    }
    100% {
        opacity: 0;
        max-height : 0px;
        padding-block : 0;
        display : none;
    }
}
