
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
      font-family: Mulish, Helvetica, sans-serif;
    }

    header {
        background: radial-gradient(97.17% 368.6% at 13.03% 9.19%, #5F9390 0%, #2A4A57 100%);
        border-radius: 0px 0px 10px 10px;
    }

}

@layer components {

    .btn-primary-filled {
        display : inline-block;
        padding : 0.5rem 1rem;
        background: linear-gradient(180deg, hsl(169, 73%, 60%) 0%, #1FC6A9 86.61%);
        border-radius: 6px;
        color : #fff;
        font-weight: bold;
    }

    .btn-secondary-filled {
        display : inline-block;
        padding : 0.5rem 1rem;
        background: linear-gradient(180deg, #EA7D3F 0%, #E5661C 86.61%);
        border-radius: 6px;
        color : #fff;
        font-weight: bold;
    }

    .monthly_budget_edit {
        color : #ddd;
    }

    .monthly_budget_row:hover .monthly_budget_edit {
        color : #666;
    }
}


