
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --color-primary: 197deg 33%;
        --color-secondary: 22deg 80%;
    }

    html {
      font-family: Mulish, Helvetica, sans-serif;
    }

    header {
        background: radial-gradient(97.17% 368.6% at 13.03% 9.19%, #5F9390 0%, #2A4A57 100%);
        border-radius: 0px 0px 10px 10px;
    }

    input[type=submit], button {
        cursor: pointer;
    }

    a {
        transition: all 250ms ease-in-out;
    }

    a:hover, a:focus {
        color : hsl( var(--color-primary) 70% );
        text-decoration: underline;
    }

    a:hover .logo {
        animation: logo-anim 500ms ease-in-out both;
    }

    @keyframes logo-anim {
        from {
            clip-path: polygon(0 0, 4% 0, 4% 100%, 0% 100%);
        }

        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}

@layer components {

    .btn-primary-filled {
        display : inline-block;
        padding : 0.5rem 1rem;
        background: linear-gradient(
            180deg, 
            hsl( var(--color-primary) 80%) 0%, 
            hsl( var(--color-primary) 65%) 86.61%
        );
        border-radius: 6px;
        color : #fff;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-primary-filled:hover, .btn-primary-filled:focus {
        background: linear-gradient(
            180deg, 
            hsl( var(--color-primary) 60%) 0%, 
            hsl( var(--color-primary) 45%) 86.61%
        );
    }

    .btn-secondary-outlined {
        display : flex;
        align-items: center;
        justify-content: center;
        gap : 0.5rem;
        padding : 0.5rem 1rem;
        border : 2px solid hsl( var(--color-secondary) 70% );
        color : hsl( var(--color-secondary) 70% );
        font-weight: bold;
        border-radius: 0.75rem;
    }
    
    .btn-secondary-outlined:hover, .btn-secondary-outlined:focus {
        background-color: hsl( var(--color-secondary) 95% );
        border-color: hsl( var(--color-secondary) 90% );
        color : hsl( var(--color-secondary) 60% );
    }

    .btn-secondary-filled {
        display : inline-block;
        padding : 0.5rem 1rem;
        background: linear-gradient(
            180deg, 
            hsl( var(--color-secondary) 58%) 0%, 
            hsl( var(--color-secondary) 50%) 85%
        );
        border-radius: 6px;
        color : #fff;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-secondary-filled:hover, .btn-primary-filled:focus {
        background: linear-gradient(
            180deg, 
            hsl( var(--color-secondary) 48%) 0%, 
            hsl( var(--color-secondary) 40%) 85%
        );
        color : #fff;
    }

    .btn-delete {
        display : flex;
        align-items: center;
        gap : 0.5rem;
        padding : 0.5rem 1rem;
        color : #fff;
        border-radius: 0.5rem;
        background: linear-gradient(
            180deg,
            #fca5a5,
            #f87171
        );
    }
    
    .btn-delete:hover, .btn-delete:focus {
        background: linear-gradient(
            180deg,
            #ef4444,
            #b91c1c
        );
    }

    .btn-back {
        display : inline-flex;
        align-items: center;
        gap : 0.5rem;
        margin-bottom: 1rem;
        border-bottom : 2px solid transparent;
    }

    .btn-back:hover, .btn-back:focus {
        text-decoration: none;
        color : hsl( var(--color-primary) 50%);
        border-color: hsl( var(--color-primary) 50%);
    }

    .monthly_budget_edit {
        color : #ddd;
    }

    .monthly_budget_row:hover .monthly_budget_edit {
        color : #666;
    }

    label.floating-label {
        position: relative;
        display : block;
        min-height : 3rem;
    }

    label.floating-label span {
        position: absolute;
        z-index : 10;
        top : 50%;
        left : 0;
        translate : 0 -50%;
        transition: all 250ms ease-in-out;
    }
    
    label.floating-label input {
        position: absolute;
        z-index : 5;
        inset : 0;
        background-color: transparent;
    }

    label.floating-label:has( input:focus) span,
    label.floating-label:has( input:valid) span {
        top : 0;
    }

    .user-input {
        padding : 0.5rem;
        background-color: hsl( var(--color-primary) 97%);
        border : 2px solid hsl( var(--color-primary) 90%);
        border-radius: 0.5rem;
        max-width: 320px;
        outline : 0;
    }
    
    .user-input:focus-visible {
        border-color : hsl( var(--color-primary) 60%);
    }

    .prompt {
        position: fixed;
        z-index: 999;
        inset : 0 auto auto 50%;

        display : flex;
        align-items: center;
        gap : 0.75rem;

        width : 100%;
        max-width : 500px;
        padding : 1rem;
        translate : -50% 0;

        border-left : 3px solid transparent;
        background-color: hsl( var(--color-primary) 95% );
        
        font-weight: bold;
        letter-spacing: 0.05rem;

        animation : prompt 8s ease-in-out both;
    }

    .prompt-success {
        color : #22c55e;
        border-color: #22c55e;
    }

    .prompt-error {
        color : #f43f5e;
        border-color: #f43f5e;
    }

    @keyframes prompt {
        0%, 100% {
            translate : -50% -100%;
        }
        
        5%, 95% {
            translate : -50% 0;
        }
    }

    .sidebar-nav-link {
        display : flex;
        flex-direction: column;
        flex-basis: 400px;
        place-items: center;
        column-gap : 0.5rem;
        padding-block : 0.5rem;

        border-radius: 0.5rem;
        transition: none;

        font-size: 0.75rem;
        line-height: 1rem;
    }

    @media screen and (min-width : 768px) {

        .sidebar-nav-link {
            flex-direction: row;
            padding : 0.5rem;
            font-size: 1rem;
            line-height: 1rem;
        }

    }

    .sidebar-nav-link:hover, .sidebar-nav-link:focus {
        color: hsl( var(--color-primary) 40%);
        background-color: hsl( var(--color-primary) 90%);
        text-decoration: none;

    }

    .btn-trend-grid {
        padding : 1rem;
        background: linear-gradient(
            45deg,
            hsl( var(--color-primary) 95%),
            hsl( var(--color-primary) 80%)
        );
        background-size: 200%;
        background-position-x: 0%;
        border : 2px solid hsl( var(--color-primary) 80%);
        border-radius: 1rem;
        color : hsl( var(--color-primary) 30%);
        transition: all 250ms ease-in-out;
    }
    
    .btn-trend-grid:hover, .btn-trend-grid:focus {
        background-position: 100%;
        color : hsl( var(--color-primary) 30%);
    }
}

@layer utilities {

    /* 
    Hidden scrollbar found here:
    https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
     */
    .scrollbar-hidden {
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}



